{% extends 'base.html.twig' %}

{% block title %}Déposer une offre d'emploie{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('deposit') }}
{% endblock %}

{% block body %}
    <div id="deposit" class="deposit-container">
        <section class="deposit-header">
            <h2>Déposer votre offre d'emploi</h2>
        </section>
        <section class="form-content">
            <form method="post" action="{{ path('job_post') }}">
                <div class="description-content">
                    <h2>L'offre</h2>

                    <div class="input-block">
                        {{ form_widget(form.title) }}
                    </div>

                    {{ form_widget(form.type) }}

                    {%  set options = []  %}
                    {% for choice in form.tags.vars.choices %}
                        {% set options = options|merge([{code : choice.value, name : choice.label}])  %}
                    {% endfor %}
                    <div class="multi-select-input">
                        <type :multiple="true" :tags="{{ options|json_encode }}"></type>
                    </div>
                    <div class="multi-select-input">
                        <type place-holder="Où est situé le poste ?" label-name="nom" :searchable="true" type="city" :options-limit="5"></type>
                    </div>

                    <div class="inline-input">
                        <div class="multi-select-input box">
                            <calendar></calendar>
                        </div>
                        <div class="box box-link">
                            <div class="input-block">
                                {{ form_widget(form.jobLink) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="description-content">
                    <h2>Description</h2>
                    <div class="editor-block">
                        <h3 class="tips-description">Description de l'offre</h3>
                        {{ form_widget(form.description) }}
                    </div>

                    <div class="editor-block">
                        <h3 class="tips-description">Des infos complementaire ?</h3>
                        {{ form_widget(form.additionalDescription) }}
                    </div>
                </div>

                <div class="row-checkbox">
                    <div class="pretty p-default">
                        {{ form_widget(form.teleworking)}}
                        <div class="state p-primary">
                            {{ form_label(form.teleworking)}}
                        </div>
                    </div>
                </div>

                <div class="description-content">
                    <h2>Votre entreprise</h2>

                    <div class="inline-input">
                        <div class="box">
                            <div class="input-block">
                                {{ form_widget(form.company.name) }}
                            </div>
                        </div>
                       <div class="box">
                           <div class="input-block">
                               {{ form_widget(form.company.email) }}
                           </div>
                           {{ form_help(form.company.email) }}
                       </div>

                    </div>

                    <div class="editor-block">
                        <h3 class="tips-description">A propos de votre entreprise</h3>
                        {{ form_widget(form.company.description) }}
                    </div>
                </div>

                <button type="submit">Valider</button>
            </form>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.tiny.cloud/1/lmwcxxh4y8zf7mt4wbsvdcmbzkxrurglmp3z154nneqv8vtx/tinymce/5/tinymce.min.js"></script>
    {{ encore_entry_script_tags('deposit') }}
{% endblock %}